.navbar {
  // position: sticky;
  // top: 0;
  // z-index: 11;
  // background-color: #FFBD97;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 12vh;
    .mainLogo {
      height: 100px;
    }
    .navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      z-index: 11;

      &-item {
        margin-left: 25px;
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
        a {
          color: #333;
        }
      }
    }
  }
}
.changeLang {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  outline: none;
  border-radius: 0;
  padding: 5px;
  color: #333;
  option {
    text-transform: uppercase;
    border-radius: 0;
    padding: 0;
    margin: 0;
    color: #333;
  }
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 12;
  outline: none;
}

/* Mobil versiya uchun */
@media (max-width: 768px) {
  .navbar{
    position: fixed;
    background-color: #f1f1f1;
    width: 100%;
    z-index: 11;
  }
  .menu-toggle {
    display: block;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: -150%;
    width: 100vw;
    height: 100vh;
    background: #FFBD97;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
  }

  .navigation.open {
    right: 0;
  }

  .navigation-item {
    margin: 10px 0;
  }
}
