* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins";
}

.container {
  max-width: 1320px;
  width: 90%;
  margin: 0 auto;
}
body {
  background-color: #f1f1f1;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #ffbd97, #ffffff);
}

::-webkit-scrollbar-thumb {
  background: #333; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  background: #555;
  cursor: grabbing;
}

.components-title {
  text-align: center;
  font-size: 45px;
  color: #333;
  position: relative;
  margin-bottom: 50px;
}

.components-title::after {
  content: " ";
  display: flex;
  flex-direction: column;
  height: 6px;
  width: 150px;
  background-color: #ffbd97;
  margin: 0 auto;
  border-radius: 10px;
}
